* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: #d0eaff;
    background-repeat: round;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product{
    width: 90%;
    max-width: 750px;
    display: flex;

}
.gallery {
    flex-basis: 47%;
    background: #62bfd6;
    transform: scale(1.08);
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
   
}
.gallery img {
    width: 100%;
    display: flex;
    padding-top: 100px;
    justify-content: center;

}
.details{
    flex-basis: 53%;
    background: #fff;
    color: #333;
    padding: 40px;
    padding-left: 60px;
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
    float: right;
    font-size: 13px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
  
   

}   

.details h2 {
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.details  i {
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.details h3 {
color: #1c888c;
margin-bottom: 20px;

}
.details  p {
    color: #333;
    justify-content: center;
    /* text-align: center; */
    font-size: large;

}
.details form {
    font-size: 15px;
    font-weight: 400;
    
}
.size-select {
    display: flex;
    align-items: center;
    margin-top: 50px;
    
}
.size-select p {
    width: 70px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn {
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(212, 236, 164);
    width: 25vw;
    height: 5vw;
    color: #1c888c;
    font-size: larger;
    font-weight: 500;
    text-shadow: #333;
}